.form--catch {
	background: grey(5);
	text-align: center;
	padding: 2em;

	input,button {
		display: block;
		width: 100%;
		text-align: center;
	}

	.form__description {
		max-width: 500px;
		margin-left: auto;
		margin-right: auto;
	}

	@include bp-min(bp(md)) {
		padding: 2em 4em;

		input,button {
			display: inline-block;
		}
	
		input {
			width: 70%;
			max-width: 500px;
			text-align: left;
		}

		button {
			width: 20%;
		}
	}
	
	
	button {

		&:hover {
			background-color: color(blue);
		}
	}
}

.form--sidebar {
	margin-top: 1rem;
	display: block;
	
	.btn {
		display: block;
		text-align: center;
	}
}

.signup-form {
	font-size: 1rem;
	margin-top: 3em;

	input, 
	button {
		height: 4em;
		width: 100%;
		margin: .25rem 0;
	}

	input {
		@include bp-min(bp(md)) {
			width: 55%;
		}
	}

	button {
		padding-left: 2em;
		padding-right: 2em;
		background-color: black;
		border: 1px solid rgba(0,0,255,0.3);

		&:hover {
			background-color: white;
			color: black;
		}
		
		@include bp-min(bp(md)) {
			margin-left: .25rem;
			width: auto;
		}
	}
}

