.hero {
	text-align: center;
	font-size: 1.5em;
	padding: 4em 0;
}

.hero--small {
	padding: 1em 0;
	text-align: left;

	.hero__title {
		font-size: 1.5em;
	}
}

.hero__title {
	a {
		color: grey(80);
	}
}

.hero__image {
	@include cover();
	margin: 0;
	overflow: hidden;
	z-index: -1;
	background-color: darkblue;

	img {
		width: 100%;
		opacity: 0.8;
	}
}