.recap {

	&__title {
		font-size: 2rem;
	}

	&__date {
		color: grey(50);
	}

	&__body {

		font-size: 1.125em;
		line-height: 1.6;
		
		p {
			margin: 1.6rem 0;
		}

		p:first-of-type {
			font-size: 1.25em;
		}

		h2 {
			margin-top: 3.2rem;
			margin-bottom: 1rem;
		}

		h3 {
			margin-top: 3.2rem;
			margin-bottom: 0.5rem;
			@include small-tracked();
			font-family: $font-sans;
			font-weight: 700;
			font-size: 1rem;
			color: grey(40);

			& + p {
				margin-top: 0;
			}
		}

		li {
			font-size: 1rem;
			margin: 1rem 0;
		}
	}

}

.recaps {
	padding: 4em 0;
}

.recap--summary {
	margin-bottom: 3em;
	padding-bottom: 3em;
	border-bottom: 1px solid grey(10);
}