.recap {

	&__title {
		font-size: 2rem;
	}

	&__date {
		color: grey(50);
	}

	&__body {

		font-size: 1.125em;
		
		p {
			margin: 1.5em 0;
		}

		p:first-of-type {
			font-size: 1.25em;
			line-height: 1.6;
			margin-bottom: 2em;
		}
	}

}

.recaps {
	padding: 4em 0;
}

.recap--summary {
	margin-bottom: 3em;
	padding-bottom: 3em;
	border-bottom: 1px solid grey(10);
}