.m0 {
	margin: 0 !important;
}

.mt0 {
	margin-top: 0 !important;
}

.mb0 {
	margin-bottom: 0 !important;
}

.mv1 {
	margin-top: 1em;
	margin-bottom: 1em;
}

.pr2 {
	padding-right: 2em !important;
}

.block {
	display: block;
}

.is-visible-md {
	display: none;
	
	@include bp-min(bp(md)) {
		display: initial;
	}
}

.is-hidden-md {
	@include bp-min(bp(md)) {
		display: none;
	}
}

.br-max-md br {
	@include bp-max(bp(md)) {
		display: none;
	}
}