$font-sans: "Lato", Helvetica, Arial, sans-serif;
$font-serif: "Trocchi", Georgia, Times, serif;

$fa-font-path: "../../src/vendor/font-awesome/fonts";

$headline-font: $font-serif;
$text-font: $font-sans;

$breakpoints: (
	xs: 320px,
	sm: 480px,
	md: 760px,
	lg: 960px,
	xl: 1200px
);

$colors: (
	green: lighten(desaturate(green, 50%), 30%),
	darkblue: darken(blue, 35%),
	blue: darken(blue, 15%),
	muted-blue: #484863
);

$branding: (
	primary: color(darkblue)
);

$col-gutter: 2em;
$container-width: bp(lg);
