<section class="section-pad about">
	<div class="container">
		<h2 class="section-heading">About</h2>
		<div class="row">
			<div class="col-md-6 pr2 lead">
				<p>I love reading, but I’m definitely not the world’s best reader. I’ve got a lot on my mind and even more on my plate. I get my reading in when I can, but I never seem to have anyone to talk to about it. Sometimes I’ll read a book a friend recommends, but when I want to talk to them about it, they don’t remember the chapter I’m up to, and often they can’t help but spoil the ending.</p>
				<p>Through this book club, I’m going to read a book at an easy pace and send out an email with a recap and some thoughts to those that want to read along with me. If you don’t have time right now, or read at a slower pace, the recaps are online so you can get to them when you’re ready. Add your thoughts and questions in a comment, or join my slack team to chat in-between chapters.
			</div>
			<div class="col-md-6">
				<ul class="list-unstyled list--media list--stagger">
					<li>
						<figure><img src="{{site.baseurl}}/assets/img/placeholder-600-600.jpeg" alt="Placeholder"></figure>
						<div>
							<strong class="block-small">Read at your own pace</strong>
							<p>Save the recaps in your inbox, or read them online to catch up when you can</p>
						</div>
					</li>
					<li>
						<figure><img src="{{site.baseurl}}/assets/img/placeholder-600-600.jpeg" alt="Placeholder"></figure>
						<div>
							<strong class="block-small">Slow readers welcome</strong>
							<p>Each week we’ll cover about 20-30 pages, enough to not get in the way of your schedule, your job, or your other books</p>
						</div>
					</li>
					<li>
						<figure><img src="{{site.baseurl}}/assets/img/placeholder-600-600.jpeg" alt="Placeholder"></figure>
						<div>
							<strong class="block-small">Spoilerific comments</strong>
							<p>Post your thoughts on our Facebook page or in the comments section of that week’s</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>