<article class="book">
	<div class="row">
		<div class="col-md-12">
			<div class="flex-card">
					<figure class="flex-card__image">
						<img src="{{site.baseurl}}{{ book.image }}" alt="Image for {{ book.title }}">
					</figure>
					<section class="flex-card__body">
						<header class="flex-card__header">
							<h3 class="book__title">{{book.title}}</h3>
							<p class="book__author">by <strong>{{book.author}}</strong></p>
						</header>

						{{book.content}}

						<div class="book__timeline">
							<h4 class="small-heading">Progress:</h4>
							<div class="timeline__wrap">
								{% assign recaps = site.recaps | where:"book_slug", book.slug | where: "published", true | sort: "recap_number" %}
								<ol class="timeline" data-timeline-max="{{book.chapter_nums}}">
									<li class="marker start" data-marker-val="0"><span class="label">Start</span></li>
								{% for recap in recaps %}
									{% assign last_chapter = recap.span | split: " " | last %}
									{% assign last_class = "" %}
									{% if recap == recaps.last %}
										{% assign last_class = "latest" %}
									{% endif %}
									<li class="marker {{last_class}}" data-marker-val="{{last_chapter}}"><span class="label">Chapter {{last_chapter}}</span></li>
								{% endfor %}
									<li class="marker last" data-marker-val="{{book.chapter_nums}}"><span class="label">End</span></li>
								</ol>
							</div>
						</div>

						<footer class="flex-card__footer">
							<a href="{{book.amazonLink}}" target="_blank" class="btn book__cta m0">Purchase on Amazon&nbsp;&nbsp;<i class="fa fa-shopping-cart"></i></a>
							<a href="{{site.baseurl}}{{book.url}}" class="btn">Read the Recaps</a>
						</footer>
					</section>
				</div>
			</div>
		</div>
</article>