{% assign signup = site.data.marketing.signup %}
<aside class="form--catch">
	<p class="form__description">{{signup.text}}</p>
	<form class="form" action="//bowenstreetbookclub.us13.list-manage.com/subscribe/post?u=3fd6b9bc1385bf5ea10eb527d&amp;id=2609d34696" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>
		<p>
			<input type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="george.martin@asoiaf.com"> <button>{{signup.button}}&nbsp;&nbsp;<i class="fa fa-fw fa-envelope"></i></button>
		</p>
	</form>
</aside>
