<aside class="form--catch">
	<p class="form__description">If you haven't already done so, be sure to sign up to the newsletter to receive our weekly recaps in your inbox!</p>
	<form class="form" action="//bowenstreetbookclub.us13.list-manage.com/subscribe/post?u=3fd6b9bc1385bf5ea10eb527d&amp;id=2609d34696" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>
		<p>
			<input type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="george.martin@asoiaf.com"> <button>Sign Up</button>
		</p>
	</form>
</aside>
