---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// RESET
@import "normalize";

// MIXINS
@import "mixins";
@import "vars";
@import "utility";

// PLUGINS
@import "../../src/vendor/font-awesome/scss/font-awesome.scss";

// ELEMENTS
@import "typography";
@import "buttons";
@import "links";

// COMPONENTS
@import "grid";
@import "books";
@import "forms";
@import "recaps";
@import "hero";
@import "nav";
@import "lists";
@import "flex-card";

// LAYOUT
@import "base";
@import "shame";

.hero--bg {
	position: relative;
	overflow: hidden;

	&:before {
		display: block;
		content: "";
		z-index: -1;
		opacity: 0.3;
		background-color: grey(10);
		@include cover();
		@include bg-image("{{site.baseurl}}/assets/img/BGs/web/hero-bg-books-1.jpg");
	}
}