---
layout: default
---

<section class="hero hero--bg">
	<div class="container">
		<h2>{{ site.data.marketing.tagline }}</h2>
		<p>{{ site.data.marketing.description }}</p>
		<form class="form signup-form" action="//bowenstreetbookclub.us13.list-manage.com/subscribe/post?u=3fd6b9bc1385bf5ea10eb527d&amp;id=2609d34696" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>
			<p>
				<input type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="george.martin@asoiaf.com"> <button>{{ site.data.marketing.signup.button }}</button>
			</p>
		</form>
	</div>
</section>

{% assign book = site.books | where:"featured",true | first %}
{% if book.title %}
<section class="section-pad bg-light">
	<div class="container">
		<h2 class="section-heading">Current Book</h2>
		{% include book-small.html %}
		<footer class="text--centered">
			<p class="lead btn btn--outline br-max-md">{{ book.reading_status }}</p>
		</footer>
	</div>
</section>
{% endif %}