---
layout: default
---

{% assign marketing = site.data.marketing %}
<section class="hero hero--bg">
	<div class="container">
		<h2>{{ marketing.tagline }}</h2>
		<p>{{ marketing.description }}</p>
		<form class="form signup-form" action="//bowenstreetbookclub.us13.list-manage.com/subscribe/post?u=3fd6b9bc1385bf5ea10eb527d&amp;id=2609d34696" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>
			<p>
				<input type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="george.martin@asoiaf.com"> <button>{{marketing.signup.button}}&nbsp;&nbsp;<i class="fa fa-fw fa-envelope"></i></button>
			</p>
		</form>
	</div>
</section>

{% assign book = site.books | where:"featured",true | first %}
{% if book.title %}
<section class="section-pad bg-light">
	<div class="container">
		<h2 class="section-heading">Current Book</h2>
		{% include book-small.html %}
		<footer class="text--centered">
			{% assign today = site.time | date: "%Y-%m-%d" %}
			{% for status in book.schedule %}
				{% capture date %}{{status.date | date: "%Y-%m-%d"}}{% endcapture %}
				{% if date > today %}
					<p class="lead btn btn--outline br-max-md">
						My recap & review for the <strong>{{status.reading}}</strong> will be posted on <strong>{{status.date | date: "%m/%d"}}</strong>. <br>Get caught up and join me in the comments section!
					</p>
				{% endif %}
			{% endfor %}
		</footer>
	</div>
</section>
{% endif %}

{% if page.how_does_this_work | length %}
<section class="section-pad">
	<div class="container">
		<h2 class="section-heading">How Exactly does this work?</h2>
		<ol class="flex-counters">
			{% for step in page.how_does_this_work %}
				<li>
					<i class="fa fa-{{step.icon}}"></i>
					{{step.text}}
				</li>
			{% endfor %}
		</ol>
	</div>
</section>
{% endif %}
