---
layout: default
---

{% assign book = site.books | where: "slug", page.book_slug | first %}

<section class="hero hero--small hero--bg">
	<div class="container">
		<h1 class="hero__title">
			<a class="reverse-link" href="{{site.baseurl}}{{book.url}}">{{ book.title }}</a>
		</h1>
	</div>
</section>

<section class="section-pad--top">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				{{content}}
			</div>
			<div class="col-md-4 col-md-offset-1">
				{% include sidebar--book.html %}
				{% include form--sidebar.html %}
			</div>
		</div>
	</div>

	{% if layout.comments == true %}
		{% include comments.html %}
	{% endif %}
</section>

<footer class="section__footer">
	{% include form--catch.html %}
</footer>